In [4]:
import numpy
import pandas as pd

In [5]:
numbers = [1,2,3,4,5]
numpy.mean(numbers)
numpy.std(numbers)

1.4142135623730951

In [6]:
#create python dictionary
D = {'name' : pd.Series(['Braund', 'Cummings','Heikken','Allen'], index = ['a','b','c','d']),
     'age' : pd.Series([22,38,26,35], index = ['a','b','c','d']),
     'fare' : pd.Series([7.25,71.83,8.05], index = ['a','b','d']),
     'survived' : pd.Series([False, True, True, False], index=['a','b','c','d'])}
df = pd.DataFrame(D)
print(df)

       name  age   fare  survived
a    Braund   22   7.25     False
b  Cummings   38  71.83      True
c   Heikken   26    NaN      True
d     Allen   35   8.05     False

In [7]:
#create dataframe sochi olympics

medals_tot = {'Country' : pd.Series(['Russia','Norway','Canada','US','Netherlands','Germany','Switzerland','Belarus','Austria','France','Poland','China',
                                    'Korea','Sweden','Czech','Slovenia','Japan','Finland','Great Britain','Ukraine','Slovakia','Italy','Latvia','Australia','Croatia','Kazakhstan']),
             'Gold' : pd.Series([13,11,10,9,8,8,6,5,4,4,4,3,3,2,2,2,2,1,1,1,1,1,0,0,0,0,0]),
             'Silver' : pd.Series([11,5,10,7,7,6,3,0,8,4,1,4,3,7,4,2,4,3,1,0,0,2,2,2,1,0]),
             'Bronze' : pd.Series([9,10,5,12,9,5,2,1,5,7,1,2,2,6,2,4,3,1,2,1,0,6,2,1,0,1])
             }
df_medals = pd.DataFrame(medals_tot)
print(df_medals)

          Country  Gold  Silver  Bronze
0          Russia    13    11.0     9.0
1          Norway    11     5.0    10.0
2          Canada    10    10.0     5.0
3              US     9     7.0    12.0
4     Netherlands     8     7.0     9.0
5         Germany     8     6.0     5.0
6     Switzerland     6     3.0     2.0
7         Belarus     5     0.0     1.0
8         Austria     4     8.0     5.0
9          France     4     4.0     7.0
10         Poland     4     1.0     1.0
11          China     3     4.0     2.0
12          Korea     3     3.0     2.0
13         Sweden     2     7.0     6.0
14          Czech     2     4.0     2.0
15       Slovenia     2     2.0     4.0
16          Japan     2     4.0     3.0
17        Finland     1     3.0     1.0
18  Great Britain     1     1.0     2.0
19        Ukraine     1     0.0     1.0
20       Slovakia     1     0.0     0.0
21          Italy     1     2.0     6.0
22         Latvia     0     2.0     2.0
23      Australia     0     2.0     1.0
24        Croatia     0     1.0     0.0
25     Kazakhstan     0     0.0     1.0
26            NaN     0     NaN     NaN

In [8]:
df_medals['Country']

0            Russia
1            Norway
2            Canada
3                US
4       Netherlands
5           Germany
6       Switzerland
7           Belarus
8           Austria
9            France
10           Poland
11            China
12            Korea
13           Sweden
14            Czech
15         Slovenia
16            Japan
17          Finland
18    Great Britain
19          Ukraine
20         Slovakia
21            Italy
22           Latvia
23        Australia
24          Croatia
25       Kazakhstan
26              NaN
Name: Country, dtype: object

In [9]:
df_medals[['Country','Gold']]

          Country  Gold
0          Russia    13
1          Norway    11
2          Canada    10
3              US     9
4     Netherlands     8
5         Germany     8
6     Switzerland     6
7         Belarus     5
8         Austria     4
9          France     4
10         Poland     4
11          China     3
12          Korea     3
13         Sweden     2
14          Czech     2
15       Slovenia     2
16          Japan     2
17        Finland     1
18  Great Britain     1
19        Ukraine     1
20       Slovakia     1
21          Italy     1
22         Latvia     0
23      Australia     0
24        Croatia     0
25     Kazakhstan     0
26            NaN     0

In [10]:
#statement search
df_medals[df_medals['Gold'] > 9]

  Country  Gold  Silver  Bronze
0  Russia    13    11.0     9.0
1  Norway    11     5.0    10.0
2  Canada    10    10.0     5.0

In [11]:
df_medals['Country'][df_medals['Gold'] > 9]

0    Russia
1    Norway
2    Canada
Name: Country, dtype: object

In [18]:
df_medals['Gold'].map(lambda opei: opei > 10)

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
Name: Gold, dtype: bool

In [20]:
#error soalnya ada string tapi kalo number doang jalan
df_medals.applymap(lambda x: x > 10)

TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred at index Country')